@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Plus Jakarta Sans", sans-serif;
}


/*-----------------header-----------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 86px;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}
.header-container {
    width: 1250px;
    margin: 0 auto;
    padding: 22px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h3{
    color: #001858;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.logo h3 span {
    width: 48px;
    height: 27px;
    color: #6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}

header nav ul li div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
header nav ul li a{
    color: #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.header-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 17px;
    border-radius: 4px;
    background: #6246EA;
    border: none;
    color: #FFFFFE;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

/*------------------------------------main-----------------------------------*/
main{
    background: #EFF0F3;
    height: 814px;
    margin-top: 86px;
}
.main-container{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 164px 0 263px 0;
}
.main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 116px;
}
.main-content-column{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}
.main-content h1{
    width: 617px;
    color: #2B2C34;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.main-content p{
    width: 652px;
    color: #9A9494;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main-content-column__line-p{
    display: inline-flex;
    gap: 12px;
}
.input-email-button{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.input-email-button input{
    display: flex;
    padding: 21px 200px 21px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFFFFE;
    border: none;
    color: #C0C0C0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.input-email-button button{
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border: none;
}

/*----------------------------------section-category------------------------------*/
.category{
    height: 500px;
    background: #EFF0F3;
}
.category-container{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 67px 0 50px 0;
}
.view-categories{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view-categories div{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.view-categories p{
    color: #2B2C34;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.view-categories div p{
    color: #2B2C34;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.view-categories div svg{
    margin: 9px 7px 2px 12px;
}
.category-container-cards{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 37px;
}
.category-container-cards__card, .category-container-cards__card-blue{
    width: 220px;
    height: 280px;
    border-radius: 8px;
    background: #FFFFFE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.category-container-cards__card p{
    color: #2B2C34;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.category-container-cards__card-blue{
    color: #FFFFFE;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 8px;
    background: #6246EA;
}
/*.category-container-cards__svg-p{*/
/*    width: 118px;*/
/*    height: 120px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: flex-start;*/
/*    flex-direction: column;*/
/*    gap: 30px;*/
/*}*/
